@import '../../../styles/theme-vars.scss';
@use "sass:math";

/*Creacion del componente*/
.bar {
    width: 450px;
    background-color:#E2E2E2 ;
    height: fit-content;
    padding: 2px;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    border: 2px solid #707070;;
    -webkit-box-shadow: 10px 5px 14px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.45);
    margin: 0px 0px 25px 0px;

    .progress  {
        height: 95%;
        overflow: hidden;
        border-radius: 30px;
        padding: 10px 5px 10px 5px;
        font-weight: bold;
        color: white;
    }
}

.bar .primary {
    @include themify($themes) {
        color: themed('component-text') !important;
        background-color:  themed('primary-color') !important;
    }
}

.bar .secondary {
    @include themify($themes) {
        color: themed('component-text') !important;
        background-color:  themed('secondary-color') !important;
    }
}

.bar .success {
    @include themify($themes) {
        color: themed('component-text') !important;
        background-color:  themed('success-color') !important;
    }
}

.bar .danger {
    @include themify($themes) {
        color: themed('component-text') !important;
        background-color:  themed('danger-color') !important;
    }
}

.bar .warning {
    @include themify($themes) {
        color: themed('component-text') !important;
        background-color:  themed('warning-color') !important;
    }
}

.bar .info {
    @include themify($themes) {
        background-color:  themed('info-color') !important;
    }
}



