@import '../../../styles/theme-vars.scss';

/*Creacion del componente*/
.alert {
    //position: fixed;
    position:absolute;
    z-index: 1000;
    top: 25px;
    width: 25vw;
    height: fit-content;
    margin-left: 70vw;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    text-align: left;
    justify-content: left;
    float: right;
    transition: opacity 0.6s;
    border: 3px solid transparent;
    
    span {
        position: relative;
        
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      .closebtn:hover {
        color: black;
      }
}

.alert-primary {
    @include themify($themes) {
        background-color:  themed('primary-color-alert') !important;
        border: 3px solid themed('primary-border-alert') ;
    }
}


.alert-secondary {
    @include themify($themes) {
        background-color:  themed('secondary-color-alert') !important;
        border: 3px solid themed('secondary-border-alert') ;

    }
}

.alert-success {
    @include themify($themes) {
        background-color:  themed('success-color-alert') !important;
        border: 3px solid themed('success-border-alert') ;

    }
}

.alert-danger {
    @include themify($themes) {
        background-color:  themed('danger-color-alert') !important;
        border: 3px solid themed('danger-border-alert') ;

    }
}

.alert-warning {
    @include themify($themes) {
        background-color:  themed('warning-color-alert') !important;
        border: 3px solid themed('warning-border-alert') ;

    }
}

.alert-info {
    @include themify($themes) {
        background-color:  themed('info-color-alert') !important;
        border: 3px solid themed('info-border-alert') ;

    }
}
