@import '../../../styles/theme-vars.scss';


.aling {
    text-align: initial;
    margin-bottom: 8px;
  }
  
  .label {
    font-size: 14px;
    font-weight: 700;
    color: #4E4E4E;
    text-align: start;
    margin-top: 5px;
    text-align: left !important;
  }
  
  .label .required {
    font-size: 14px;
    font-weight: 700;
    color: red;
    text-align: start;
    margin-top: 5px;
    text-align: left !important;
  }


