@import '../../../styles/theme-vars.scss';

/*Creacion del componente*/
.badge {
    width: fit-content;
    height: fit-content;
    //cursor: pointer;
    padding: 4px 8px 4px 8px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    margin: 0px 0px 25px 0px;
}

.badge-primary {
    @include themify($themes) {
        color: themed('component-text') !important;

        background-color:  themed('primary-color') !important;
    }
}

.badge-secondary {
    @include themify($themes) {
        color: themed('component-text') !important;

        background-color:  themed('secondary-color') !important;
    }
}

.badge-success {
    @include themify($themes) {
        color: themed('component-text') !important;
        background-color:  themed('success-color') !important;
    }
}

.badge-danger {
    @include themify($themes) {
        color: themed('component-text-blk') !important;
        background-color:  themed('danger-color') !important;
    }
}

.badge-warning {
    @include themify($themes) {
        color: themed('component-text-blk') !important;
        background-color:  themed('warning-color') !important;
    }
}

.badge-info {
    @include themify($themes) {
        color: themed('component-text') !important;
        background-color:  themed('info-color') !important;
    }
}