$themes: (
  normal: (
    bodyBackgroundColor: white,
    textColor: #000,
    toggleBackground: #dfe4ea,
    primary-color: #316BF4,
    secondary-color: #6F757C,
    warning-color:#F5C243,
    danger-color:#CB454A,
    success-color: #408458,
    info-color:#5DC7EC,
    component-text: white,

      /*Border Colors*/
      primary-border: #B4CCFF,
      secondary-border: #C3C3C3,
      warning-border:#67541D,
      danger-border:#894044,
      success-border: #39624B,
      info-border:#245360,

      /*Alert Colors*/
      primary-color-alert: #D3E0FB,
      secondary-color-alert: #E2E3E4,
      warning-color-alert: #FDF3D1,
      danger-color-alert: #F3D8DA,
      success-color-alert: #D5E6DF,
      info-color-alert: #D6F3FB,

      /*Alert Borders*/
      primary-border-alert: #B4CCFF,
      secondary-border-alert: #C3C3C3,
      warning-border-alert: #67541D,
      danger-border-alert: #894044,
      success-border-alert: #39624B,
      info-border-alert: #245360,

  ),
  protanopie: (
    bodyBackgroundColor: white,
    textColor: #eff2f7,
    toggleBackground: #606071,
    primary-color: #0057FE,
    secondary-color: #707070,
    warning-color:#FCD402,
    danger-color:#A19472,
    success-color: #00236F,
    info-color:#007AFF,
    component-text: white,

    /*Border Colors*/
    primary-border: #266AFF,
    secondary-border: #41454A,
    warning-border:#D29715,
    danger-border:#6E644D,
    success-border: #00236F,
    info-border:#012F9B,

   /*Alert Colors*/
   primary-color-alert: #6096FFA3,
   secondary-color-alert: #70707080,
   warning-color-alert: #FDE38C,
   danger-color-alert: #A19472A5,
   success-color-alert: #0045D9,
   info-color-alert: #007AFF,

   /*Alert Borders*/
   primary-border-alert:#266AFF,
   secondary-border-alert: #41454A,
   warning-border-alert: #D29715,
   danger-border-alert: #6E644D,
   success-border-alert: #00236F,
   info-border-alert: #012F9B,

  ),
  deuteranopie: (
    bodyBackgroundColor: white,
    textColor: #eff2f7,
    toggleBackground: #606071,
    primary-color: #0057FE,
    secondary-color: #707070,
    warning-color:#FEC85C,
    danger-color:#D29715,
    success-color: #00236F,
    info-color:#007AFF,
    component-text: white,

      /*Border Colors*/
      primary-border: #266AFF,
      secondary-border: #41454A,
      warning-border:#D29715,
      danger-border:#AA7B14,
      success-border: #00236F,
      info-border:#012F9B,

     /*Alert Colors*/
     primary-color-alert: #99BCFF,
     secondary-color-alert: #B7B7B7,
     warning-color-alert: #FED990,
     danger-color-alert: #E5C276,
     success-color-alert: #486197,
     info-color-alert: #6AB1FF,

     /*Alert Borders*/
     primary-border-alert: #266AFF,
     secondary-border-alert: #41454A,
     warning-border-alert: #D29715,
     danger-border-alert:  #AA7B14,
     success-border-alert: #00236F,
     info-border-alert: #012F9B,
  ),
  tritanopie: (
    bodyBackgroundColor: white,
    textColor: #eff2f7,
    toggleBackground: #606071,
    primary-color: #008CA3,
    secondary-color: #544447,
    warning-color:#FE6B5F,
    danger-color:#F32600,
    success-color: #003C46,
    info-color:#01B6D1,
    component-text: white,

      /*Border Colors*/
      primary-border: #008CA3,
      secondary-border: #544447,
      warning-border:#FF3929,
      danger-border:#F32500,
      success-border: #061012,
      info-border:#012F9B,

      /*Alert Colors*/
      primary-color-alert: #7CC4D0,
      secondary-color-alert: #92888A,
      warning-color-alert: #FE968E,
      danger-color-alert: #F76C53,
      success-color-alert: #245760,
      info-color-alert: #58CFE1,

      /*Alert Borders*/
      primary-border-alert: #008CA3,
      secondary-border-alert: #544447,
      warning-border-alert: #FF3929,
      danger-border-alert: #F32500,
      success-border-alert: #061012,
      info-border-alert: #012F9B,

  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

span {
  font-size: medium !important;
}
