$themes: (
  normal: (
    bodyBackgroundColor: white,
    textColor: #000,
    toggleBackground: #dfe4ea,
    primary-color: #316BF4,
    secondary-color: #6F757C,
    warning-color:#F5C243,
    danger-color:#CB454A,
    success-color: #408458,
    info-color:#5DC7EC,
    component-text: white,

      /*Border Colors*/
      primary-border: #0057FE,
      secondary-border: #707070,
      warning-border:#FCD402,
      danger-border:#A19472,
      success-border: #00236F,
      info-border:#007AFF,

      /*Alert Colors*/
      primary-color-alert: #7CC4D0,
      secondary-color-alert: #7CC4D0,
      warning-color-alert: #7CC4D0,
      danger-color-alert: #7CC4D0,
      success-color-alert: #7CC4D0,
      info-color-alert: #7CC4D0,

      /*Alert Borders*/
      primary-border-alert:#008CA3,
      secondary-border-alert: #008CA3,
      warning-border-alert: #008CA3,
      danger-border-alert: #008CA3,
      success-border-alert: #008CA3,
      info-border-alert: #008CA3,

  ),
  protanopie: (
    bodyBackgroundColor: white,
    textColor: #eff2f7,
    toggleBackground: #606071,
    primary-color: #0057FE,
    secondary-color: #707070,
    warning-color:#FCD402,
    danger-color:#A19472,
    success-color: #00236F,
    info-color:#007AFF,
    component-text: white,

    /*Border Colors*/
    primary-border: #0057FE,
    secondary-border: #707070,
    warning-border:#FCD402,
    danger-border:#A19472,
    success-border: #00236F,
    info-border:#007AFF,

   /*Alert Colors*/
   primary-color-alert: #7CC4D0,
   secondary-color-alert: #7CC4D0,
   warning-color-alert: #7CC4D0,
   danger-color-alert: #7CC4D0,
   success-color-alert: #7CC4D0,
   info-color-alert: #7CC4D0,

   /*Alert Borders*/
   primary-border-alert:#008CA3,
   secondary-border-alert: #008CA3,
   warning-border-alert: #008CA3,
   danger-border-alert: #008CA3,
   success-border-alert: #008CA3,
   info-border-alert: #008CA3,

  ),
  deuteranopie: (
    bodyBackgroundColor: white,
    textColor: #eff2f7,
    toggleBackground: #606071,
    primary-color: #0057FE,
    secondary-color: #707070,
    warning-color:#FEC85C,
    danger-color:#D29715,
    success-color: #00236F,
    info-color:#007AFF,
    component-text: white,

      /*Border Colors*/
      primary-border: #0057FE,
      secondary-border: #707070,
      warning-border:#FCD402,
      danger-border:#A19472,
      success-border: #00236F,
      info-border:#007AFF,

     /*Alert Colors*/
     primary-color-alert: #7CC4D0,
     secondary-color-alert: #7CC4D0,
     warning-color-alert: #7CC4D0,
     danger-color-alert: #7CC4D0,
     success-color-alert: #7CC4D0,
     info-color-alert: #7CC4D0,

     /*Alert Borders*/
     primary-border-alert:#008CA3,
     secondary-border-alert: #008CA3,
     warning-border-alert: #008CA3,
     danger-border-alert: #008CA3,
     success-border-alert: #008CA3,
     info-border-alert: #008CA3,
  ),
  tritanopie: (
    bodyBackgroundColor: white,
    textColor: #eff2f7,
    toggleBackground: #606071,
    primary-color: #008CA3,
    secondary-color: #544447,
    warning-color:#FE6B5F,
    danger-color:#F32600,
    success-color: #003C46,
    info-color:#01B6D1,
    component-text: white,

      /*Border Colors*/
      primary-border: #0057FE,
      secondary-border: #707070,
      warning-border:#FCD402,
      danger-border:#A19472,
      success-border: #00236F,
      info-border:#007AFF,

      /*Alert Colors*/
      primary-color-alert: #7CC4D0,
      secondary-color-alert: #7CC4D0,
      warning-color-alert: #7CC4D0,
      danger-color-alert: #7CC4D0,
      success-color-alert: #7CC4D0,
      info-color-alert: #7CC4D0,

      /*Alert Borders*/
      primary-border-alert:#008CA3,
      secondary-border-alert: #008CA3,
      warning-border-alert: #008CA3,
      danger-border-alert: #008CA3,
      success-border-alert: #008CA3,
      info-border-alert: #008CA3,

  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

button {
    width: fit-content;
    height: fit-content;
    padding: 15px 8px 15px 8px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    color: white;

    a {
      @include themify($themes) {
      color: themed('component-text');
      }
      text-decoration: none;
    }

}

.button-primary {
  @include themify($themes) {
      color: themed('component-text') ;
      background-color:  themed('primary-color') !important;
  }
}

.button-secondary {
    @include themify($themes) {
        color: themed('component-text') !important;
        background-color:  themed('secondary-color') !important;
    }
}

.button-success {
    @include themify($themes) {
        color: themed('component-text') !important;
        background-color:  themed('success-color') !important;
    }
}

.button-danger {
    @include themify($themes) {
        color: themed('component-text');
        background-color:  themed('danger-color') !important;
    }
}

.button-warning {
    @include themify($themes) {
        color: themed('component-text');
        background-color:  themed('warning-color') !important;
    }
}

.button-info {
    @include themify($themes) {
        color: themed('component-text') !important;
        background-color:  themed('info-color') !important;
    }
}

button:hover {
  transition: ease-in-out 0.3s;
  -webkit-box-shadow: 10px 5px 14px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.45);
}

button:focus {
  @include themify($themes) {
    border:  1px solid themed('info-color') !important;
}
  transition: ease-in-out 0.3s;
  -webkit-box-shadow: 10px 5px 14px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.45);
}
