@import '../../styles/theme-vars.scss';


.layout-wrapper {
  @include themify($themes) {
    background: themed('bodyBackgroundColor');
  }
}

.body {
  //padding-top: 20vh;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: skyblue;
  //display: inline-flex;
  display: block !important;

  .banner {
    width: 100%;
    height: 25vh;
    background-image: url("../assets/images/candybanner.jpeg");
    background-size: cover;
    background-position: center;
  }

  .title {
    text-overflow: clip;
    font-size: 60px;
  }
}

.elements-list{
  display: block !important;
  margin: 15px;
   
  button {
    margin-bottom: 25px;
  }

}

 th, td {
  padding: 10px;
  border:1px solid black;
  align-items: center;
}
