@import '../../styles/theme-vars.scss';


.layout-wrapper {
  @include themify($themes) {
    background: themed('bodyBackgroundColor');
  }
}

.body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  //background-color: black;
  display: inline-flex;
}

