@import '../../../styles/theme-vars.scss';

/*Creacion del componente*/
.modal {
    background-color: #FFFFFF;
    width: 25vw;
    height: fit-content;
    cursor: pointer;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    text-align: left;
    justify-content: center;

    .modal-tittle {
        color: #000000DE;
        font-weight: bolder;
    }

    .modal-body {
        color: #575656;
    }

    .modal-footer {
        text-align: end !important;
        display: flex;
        justify-items: end !important;
    }
}