@import '../../../styles/theme-vars.scss';

/*Creacion del componente*/
button {
    width: fit-content;
    height: fit-content;
    padding: 15px 8px 15px 8px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    //color: white;

   

}

.button-primary {
  @include themify($themes) {
      color: themed('component-text') ;
      background-color:  themed('primary-color') !important;
  }
  a {
    @include themify($themes) {
    color: themed('component-text') !important;
    }
    text-decoration: none;
  }
}

.button-secondary {
    @include themify($themes) {
        color: themed('component-text') !important;
        background-color:  themed('secondary-color') !important;
    }
    a {
        @include themify($themes) {
        color: themed('component-text') !important;
        }
        text-decoration: none;
      }
}

.button-success {
    @include themify($themes) {
        color: themed('component-text') !important;
        background-color:  themed('success-color') !important;
        
    }
    a {
        @include themify($themes) {
        color: themed('component-text') !important;
        }
        text-decoration: none;
      }
}

.button-danger {
    @include themify($themes) {
        color: themed('component-text-blk') !important;
        background-color:  themed('danger-color') !important;

    
    }

    a {
        @include themify($themes) {
        color: themed('component-text-blk') !important;
        }
        text-decoration: none;
      }
}

.button-warning {
    @include themify($themes) {
        color: themed('component-text-blk') !important;
        background-color:  themed('warning-color') !important;
        
    }
    a {
        @include themify($themes) {
        color: themed('component-text-blk') !important;
        }
        text-decoration: none;
      }
}

.button-info {
    @include themify($themes) {
        color: themed('component-text') !important;
        background-color:  themed('info-color') !important;
    }
    a {
        @include themify($themes) {
        color: themed('component-text') !important;
        }
        text-decoration: none;
      }
}

button:hover {
  transition: ease-in-out 0.3s;
  -webkit-box-shadow: 10px 5px 14px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.45);
}

button:focus {
  @include themify($themes) {
    border:  1px solid themed('info-color') !important;
}
  transition: ease-in-out 0.3s;
  -webkit-box-shadow: 10px 5px 14px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.45);
}


