@import '../../../styles/theme-vars.scss';

/*Creacion del componente*/
.button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding: 15px 8px 15px 8px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
}

.primary {
    @include themify($themes) {
        color: themed('component-text') !important;;
        background-color:  themed('primary-color') !important;
    }
}

.secondary {
    @include themify($themes) {
        color: themed('component-text') !important;;
        background-color:  themed('secondary-color') !important;
    }
}

.success {
    @include themify($themes) {
        color: themed('component-text') !important;;
        background-color:  themed('success-color') !important;
    }
}

.danger {
    @include themify($themes) {
        color: themed('component-text') !important;;
        background-color:  themed('danger-color') !important;
    }
}

.warning {
    @include themify($themes) {
        color: themed('component-text') !important;;
        background-color:  themed('warning-color') !important;
    }
}

.info {
    @include themify($themes) {
        color: themed('component-text') !important;;
        background-color:  themed('info-color') !important;
    }
}
